/*-------------------------- Mother ------------*/

main, footer {
  font-family: "Arial";
}

.container-fluid{
width: 80%;
margin: auto;
}


/*-------------------------- Mother ------------*/

/*-------------------------- Header ------------*/

header {
  background-image: url("../img/header.png");
  background-repeat: repeat;
}

header, header a strong{
  color: white;
  font-weight: normal;
}

h1 {
  font-family: "Oswald";
  margin-bottom: 1.2em;
  margin-top: 0.8em;
}

nav.navbar {
  background-color: #76CBFA;
  font-family: "Abel";
  width: 90%;
  margin-bottom: 1em;
  background: linear-gradient(#76CBFA, #4A91D2);

}

figure {
  width: 90%;
  padding: 2em;
  margin-bottom: 4em;
  background-image: url("../img/fond.png");
  background-repeat: repeat;
  background-size: cover;
}

#pic01 {
  width: 100%;
}

/*-------------------------- Header ------------*/

/*-------------------------- Main ------------*/
main{
    padding: 0 3em;
    background-image: url("../img/fond.png");
    background-repeat: repeat;
}

#sec1 {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: left;
}

#sec2 .art1, #sec2 .art2, #sec2 .art3{
     background-image: url("../img/bas-de-page.png");
     background-repeat: repeat;
     margin-top: 3em;
     margin-bottom:  3em;
 }

#sec2 img {
    float: left;
}

/* #sec2 p {
    float: right;
    width: 50%;
}

h5 {
    width: 50%; */
}
/*-------------------------- Main ------------*/


/*-------------------------- Footer ------------*/



/*-------------------------- Footer ------------*/
